.section-container{
    margin-top: 8rem;
}

 p{
    font-size: 35px;
    padding: 4rem;
    font-weight: 530;
}

.info{
    max-width: 400px;
}


a{
    text-decoration: none;
    color: black;
    font-size: 35px;
}